<!DOCTYPE html>
{% autoescape true %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>SingAlongSingapore</title>
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img id="logo" alt="SG50 Musical Logo" src="img/logo.png"><p id="name">Sing-Along Singapore</p></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Streams<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/featured">Featured</a></li>
                        <li class="divider"></li>
                        <li><a href="/national">National Day Songs</a></li>
                        <li><a href="/sg50">SG50 Songs</a></li>
                        <li class="divider"></li>
                        <li><a href="/english">English Songs</a></li>
                        <li><a href="/chinese">Chinese Songs</a></li>
                        <li><a href="/malay">Malay Songs</a></li>
                        <li><a href="/tamil">Tamil Songs</a></li>
                        <li class="divider"></li>
                        <li><a href="/uploadedvids">Upload Your Own Songs!</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/stories">Stories</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>{{ page_name }}</h2>
    <hr>
    <div class="row content">
        {% for num in specific %}
        <div class="col-lg-12">
            <h3><a href="/song_page?num={{ num }}">{{ titles[num] }}</a></h3>
            <p>{{ years[num] }}</p>
            <video width="100%" height="100%" controls>
                <source src="songs/{{ sources[num] }}.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <br>
            <br>
        </div>
        {% endfor %}
        {% if next and back %}
        <a href="{{ back_page }}" style="float:left;font-size:2em">Previous Page</a>
        <a href="{{ next_page }}" style="float:right;font-size:2em">Next Page</a>
        {% elif next %}
        <a href="{{ next_page }}" style="float:right;font-size:2em">Next Page</a>
        {% elif back %}
        <a href="{{ back_page }}" style="font-size:2em">Previous Page</a>
        {% endif %}
    </div>
</div>

<div class="scroll-top-wrapper ">
	<span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
{% endautoescape %}
